{{ define "view" }}

<!DOCTYPE HTML>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>知らんでも良いこと.fm</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.2/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="../public/css/style.css" rel="stylesheet">
    <script type="text/javascript" src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="../public/css/fadeIn.js"></script>
</head>

<body>
    {{ template "header" .}}

    <main>
        <h1>Contact us</h1>
    </main>

    <script src="../public/css/script.js"></script>

    {{ template "footer" .}}
</body>

</html>

{{ end }}