* {
    margin: 0px;
    padding: 0px;
    font-family: didot, serif;
}

a{
    text-decoration: none; 
}

header{
    width: 100%;
    background-color: rgb(20, 41, 75);
    font-family: didot, serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

header #icon{
    text-decoration: none; 
    color: rgb(240, 240, 240);
    font-size: 20px;
    margin: 10px 0px 10px 100px;
}

header .hamburger{
    display: none;
    background-color: transparent;
    color: white;
    cursor: pointer;
    font-size:20px;
    border: 0;
    margin-right: 30px;
}

header .hamburger:focus{
    outline: none;
}

header .nav-ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
}

header li{
    margin: 20px 50px 20px 50px;
    font-size: 15px;
}

header li a{
    text-decoration: none; 
    color: rgb(175, 175, 175);
}

/* main start */

main .top{
    display: flex;
    justify-content: center;
    padding: 100px;
    background-color: rgb(14, 29, 53);
}


main .top_description{
    width: 50%;
    max-width:500px;
    max-height:500px;
    margin-right: 5%;
    color: rgb(255, 248, 238);
    font-family: didot, serif;
    font-size: 50px;
}

/* kaloterracetalk title*/
main .top_description .title{
    padding-top: 70px;
    padding-bottom: 20px;
    height: 50%;
    font-size: 100%;
    text-align: center;
}
/* here is the end of theme */

/* top description */
main .top_description p{
    font-size: 30%;
    line-height: 25px;
}

main .top img{
    width: 50%;
    height: 50%;
    max-width:500px;
    max-height:500px;
    border-radius: 25px;
    border: 1px solid rgb(150, 150, 150);
}

main .player_and_sub_button{
    background-color: rgb(20, 41, 75);
    color: rgb(255, 248, 238);
    font-family: didot, serif;
}

main .player_and_sub_button p a{
    color: rgb(255, 248, 238);
}

main .player_and_sub_button .player {
    padding-top: 50px;
    margin-bottom: 50px;
    margin-left: 10%;
    margin-right: 10%;
}

main .player_and_sub_button .player h2{
    font-size: 40px;
}

main .player_and_sub_button .player p{
    margin: 2%;
    font-size: 15px;
}

main .player_and_sub_button .player p a{
    font-size: 20px;
}

main .player_and_sub_button .player audio{
    width: 100%;
}

main .sub_button{
    margin-top: 50px;
    padding-bottom: 50px;
    margin-left: 10%;
    margin-right: 10%;
}

main .sub_button h2{
    text-align: center;
    font-size: 30px;
    font-family: didot, serif;
}

main .sub_button .button_container{
    margin-top: 30px;
    text-align: center;
}
main .sub_button .button_container img{
    margin-right: 10px;
    margin-left: 10px;
}

/* sub button is end */




/* prof start */

main .profile{
    background-color: rgb(14, 29, 53);
    color: rgb(255, 248, 238);
    padding-top: 50px;
}

main .profile  .prof_title{
    margin-left: 10%;
    font-size: 40px;
}

main .profile_container{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    padding-bottom: 50px;
}

.fadeIn_from_left {
    transform: translate3d(-100px, 0, 0);
    transition: 1s;
    opacity: 0;
}
  
.fadeIn_from_left.animated {
    transform: translate3d(0, 0, 0);
    opacity: 1;
}

.fadeIn_from_right {
    transform: translate3d(100px, 0, 0);
    transition: 1s;
    opacity: 0;
}
  
.fadeIn_from_right.animated {
    transform: translate3d(0, 0, 0);
    opacity: 1;
}

main .profile_container img{
    width: 30%;
    height: 30%;
    min-width: 300px;
    min-height: 300px;
    max-width: 400px;
    max-height: 400px;
    border-radius: 50%;
    border: 1px solid rgb(138, 138, 138);
}

main .description{
    width: 30%;
    min-width: 300px;
    padding-top: 7%;
    text-align : center;
}

main .description h2{
    font-size: 40px;
}

main .description p{
    margin-top: 40px;
}


footer{
    background-color: rgb(20, 41, 75);
    color: rgb(255, 248, 238);
    font-family: didot, serif;
}

footer h2{
    margin-left: 10%;
    padding-top: 50px;
    font-size: 40px;
}

footer div{
    margin-left: 10%;
    padding: 2%;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}

/* mobile ver */
@media (max-width: 750px){
    header #icon{
        text-decoration: none; 
        color: rgb(240, 240, 240);
        font-size: 20px;
        margin: 10px 0px 10px 50px;
    }

    header .nav-ul{
        display: none;
        width: 100%;
        flex-direction: column;
        border-top: white;
    }

    header .nav-ul.show {
        display: flex;
    }

    header .hamburger{
        display: block;
    }

    main .top{
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    main .top .top_description .title{
        font-size: 30px;
        padding-top: 0px;
    }
    
    main .top .top_description p{
        font-size: 13px;
    }

    main .top img{
        margin: 10px;
    }

    main .player_and_sub_button .player h2{
        font-size: 30px;
    }
    
    main .player_and_sub_button .player p{
        font-size: 15px;
    }
    
    main .player_and_sub_button .player p a{
        font-size: 15px;
    }
    
    
    main .sub_button{
        margin-top: 30px;
        padding-bottom: 30px;
        margin-left: 10%;
        margin-right: 10%;
    }
    
    main .sub_button h2{
        text-align: center;
        font-size: 25px;
        font-family: didot, serif;
    }

    main .profile .prof_title{
        font-size: 30px;
    }

    main .profile_container{
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
        padding-bottom: 50px;
    }

    main .profile_container h2{
        font-size: 25px;
    }
    
    main .profile_container img{
        width: 50%;
        height: 50%;
        min-width: 150px;
        min-height: 150px;
        border-radius: 50%;
    }

    footer h2{
        margin-left: 10%;
        padding-top: 30px;
        font-size: 30px;
    }
}


/* episode content */
.episode{
    background-color: rgb(14, 29, 53);
    color: rgb(255, 248, 238);
    padding-top: 50px;
    min-height: 400px;
}

.episode h1{
    padding-left: 10%;
    margin-bottom: 5%;
    font-size: 40px;
}

.episode .episode_container{
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 50px;
}

.episode .episode_container .player{
    margin-top: 75px;
    margin-bottom: 75px;
}

.episode .episode_container .player h2 a{
    text-decoration: none; 
    color: rgb(255, 248, 238);
    font-size: 25px;
}

.episode .episode_container .player p{
    margin-top: 20px;
    width: 100%;
}

.episode .episode_container .player audio{
    width: 100%;
}

.episode .episode_all_link {
    text-align: center;
    color: rgb(255, 248, 238);
    padding-bottom: 30px;
}

.episode .episode_all_link a{
    color: rgb(255, 248, 238);
    font-size: 20px;
}


/* blog content */
.blog{
    background-color: rgb(14, 29, 53);
    color: rgb(255, 248, 238);
    padding-top: 50px;
    min-height: 400px;
}

.blog h1{
    padding-left: 10%;
    margin-bottom: 5%;
    font-size: 40px;
}

.blog .blog_container{
    padding-left: 10%;
}

.blog .blog_container iframe{
    border: 0;
    display: block; 
    width: 80%;
    max-width: 700px;
    visibility: visible;
}