{{ define "header" }}
<header id="header">
    <a id="icon" href="/">知らんでも良いこと.fm</a>
    <button class="hamburger" id="hamburger">
        <i class="fas fa-bars"></i>
    </button>
    <ul class="nav-ul" id="nav-ul">
        <li><a href="/" style="color:rgb(255, 255, 255); font-weight: bold;">HOME</a></li>
        <li><a href=" /episode">EPISODE</a></li>
        <li><a href="/blog">BLOG(TEXT) LINKS</a></li>
        <li><a href="/live">LIVE</a></li>
        <li><a href="/live">Contact Us</a></li>
        <li><a href="/account">ACCOUNT</a></li>
    </ul>
</header>
{{ end }}